<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pupy Shop</title>
    <link rel="stylesheet" href="http://localhost:1234/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:1234/css/reset.css">
    <link rel="stylesheet" href="http://localhost:1234/css/index.css">
    <link rel="stylesheet" href="http://localhost:1234/css/ChatWindow.css">
<!--
    <link rel="stylesheet" href="../public/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">

-->


</head>
<body>
<!--头部-->

<div class="site-topbar">
    <div class="container">
        <div class="topbar-cart">
            <a id="shopcart" href="javascript:void(0);" class="cart-mini">
                <i class="fa fa-shopping-cart cart-mini-i" aria-hidden="true"></i>
                购物车
            </a>
        </div>
        <div class="topbar-info">
            <!--<a class="link contact-ser" id="wrap_zx">在线咨询</a>-->
            <p id="nav_login" class="link">
                <a href="http://localhost:1234/pages/login.html" class="link">登录</a>
                <span class="sep">|</span>
                <a href="http://localhost:1234/pages/login.html" class="link">注册</a>
                <span class="sep">|</span>
                <a href="" class="message">消息通知</a>
            </p>
        </div>
    </div>

</div>
<nav class="site-header">
    <div class="container">
        <div class="header-logo">
            <a class="logo" href="http://localhost:1234/pageone" ></a>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="link" href="http://localhost:1234/pageone">首页</a>
                    <ol class="nav-dropdown-list">

                    </ol>
                </li>

                <li class="nav-item"><a id="oclothes" class="link" href="http://localhost:1234/pages/ProductList.html">宠物商城</a>
                </li>
                <!--<li class="nav-item"><a class="link" href="http://localhost:1234/pages/serviceAll.html">门店服务</a>-->
                    <!--<ol class="nav-dropdown-list">-->
                        <!--<li><a href="http://localhost:1234/pages/serviceHair.html">美容</a></li>-->
                        <!--<li><a href="http://localhost:1234/pages/serviceBath.html">洗澡</a></li>-->
                        <!--<li><a href="http://localhost:1234/pages/serviceCare.html">寄养</a></li>-->
                        <!--&lt;!&ndash;待开发&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="">摄影</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="">购宠咨询</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="">殡葬</a></li>&ndash;&gt;-->
                    <!--</ol>-->
                <!--</li>-->
                <li class="nav-item"><a class="link" href="http://localhost:1234/pages/com.html">宠物社区</a>
                    <ol class="nav-dropdown-list"></ol>
                </li>
                <li id="myself" class="nav-item"><a  class="link" href="javascript:void(0);">个人中心</a>
                    <ol class="nav-dropdown-list"></ol>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="chat">
    <div class="service-name"><span>客服名称</span></div>
    <div class="chat-con">
        <div class="clearfix service-box">
            <div class="head-portrait"><img src=""></div>
            <div class="chat-box">
                <p class="chat-text">您好,请问有什么可以帮到您?</p>
            </div>
        </div>
    </div>
    <div class="user-input clearfix">
        <textarea autofocus placeholder="请输入聊天信息" name="" id="user-val" style="width: 99%;height: 120px;resize: none;border:none;outline: none;"></textarea>
        <button class="close">关闭</button>
        <input type="button" value="发送">
    </div>
</div>
</body>
</html>

<script src="http://localhost:1234/dist/jquery-2.2.4.js"></script>
<script src="http://localhost:1234/js/index.js"></script>
<script src="http://localhost:1234/js/commodity.js"></script>
