<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pupy Shop</title>
    <link rel="stylesheet" href="http://localhost:1234/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:1234/css/reset.css">
    <link rel="stylesheet" href="http://localhost:1234/css/index.css">
    <link rel="stylesheet" href="http://localhost:1234/css/ChatWindow.css">



</head>
<body>
<!--头部-->
<%-include header.html%>

<!--主体-->
<section class="home-hero">
    <div class="home-hero-slider">
        <a class="img" href="">
            <!--<img src="">-->
        </a>
        <a href="">
            <!--<img src="">/-->
        </a>
        <a href="">
            <!--<img src="">-->
        </a>
        <a href="">
            <!--<img src="">-->
        </a>

        <button class="btn-left"></button>
        <button class="btn-right"></button>
        <ol class="ui-pager-item">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>
    </div>

    <div class="do-section">
        <div class="do-block">
            <div class="do-panelcol-left">
                <div class="do-panelcol-content">
                    <h1>服务简介</h1>
                    <p><b>PUPYSHOP</b>是专门为宠物提供宠物用品零售、宠物美容、宠物寄养、宠物活体销售的场所。其经营项目一般包括宠物用品超市、活体销售、宠物美容、宠物寄养、宠物医疗、宠物乐园、宠物摄影、待产养护。有时宠物店又等同于宠物用品店、宠物美容店、宠物寄存、宠物医院、宠物驯养等</p>
                </div>
            </div>
            <div class="do-panelcol-right">
                <div class="stop-btn">
                    <i class="fa  fa-play-circle-o" id="paly"></i>
                </div>
                <!--<video controls class="do_video" src="images/dog.mp4" autoplay="autoplay"></video>-->
            </div>
        </div>
    </div>

    <div class="do-food">
        <div class="do-html-content ">
            <p class="do-content-title"><span>食品上新</span></p>
            <p class="do-content-text"><span>用心呵护和爱护您的宠物，让您安心舒心放心</span></p>
            <p class="do-content-btn"><a href=""><span class="more">查看更多</span> <i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
        <ul class="do-element-media-ul commodity_ul">
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="http://localhost:1234/images/shoppicpath11540808995_y.jpg" height="100%" width="100%"/>-->
                <!--</div>-->
                <!--<p class="shop-name">爱肯拿Acana 无谷深海鱼配方全犬粮</p>-->
                <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
                <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
                <!--<a class="buy_btn " href=""><span>加入购物车<span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="http://localhost:1234/images/shoppicpath11540359712_y.jpg" height="100%" width="100%"/>-->
                <!--</div>-->
                <!--<p class="shop-name">爱肯拿Acana 无谷深海鱼配方全犬粮</p>-->
                <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
                <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
                <!--<a class="buy_btn " href=""><span>加入购物车<span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="http://localhost:1234/images/shoppic2.jpg" height="100%" width="100%"/>-->
                <!--</div>-->
                <!--<p class="shop-name">爱肯拿Acana 无谷深海鱼配方全犬粮</p>-->
                <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
                <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
                <!--<a class="buy_btn " href=""><span>加入购物车 <span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="http://localhost:1234/images/shoppic2.jpg" height="100%" width="100%"/>-->
                <!--</div>-->
                <!--<p class="shop-name">爱肯拿Acana 无谷深海鱼配方全犬粮</p>-->
                <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
                <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
                <!--<a class="buy_btn " href=""><span>加入购物车 <span class="ico"> > </span></span></a>-->
            <!--</li>-->
        </ul>
    </div>

    <div class="do-food">
        <div class="do-html-content">
            <p class="do-content-title"><span>用品上新</span></p>
            <p class="do-content-text"><span>用心呵护和爱护您的宠物，让您安心舒心放心</span></p>
            <p class="do-content-btn"><a href=""><span class="more">查看更多</span> <i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
        <ul class="do-element-media-ul commodity_ul2">
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="http://localhost:1234/images/shoppicpath11499409600_y.jpg" height="100%" width="100%"/>-->
                <!--</div>-->
                <!--<p class="shop-name">哈特丽Hateli 彩钢碗</p>-->
                <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
                <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
                <!--<a class="buy_btn " href=""><span>加入购物车<span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="http://localhost:1234/images/shoppicpath31429774176_y.jpg" height="100%" width="100%"/>-->
                <!--</div>-->
                <!--<p class="shop-name">爱丽思IRIS 豪华房型狗窝笼子</p>-->
                <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
                <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
                <!--<a class="buy_btn " href=""><span>加入购物车<span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="http://localhost:1234/images/shoppicpath31415611069_y.jpg" height="100%" width="100%"/>-->
                <!--</div>-->
                <!--<p class="shop-name">道汀DaoDin 小动物专用饮水器</p>-->
                <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
                <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
                <!--<a class="buy_btn " href=""><span>加入购物车 <span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="http://localhost:1234/images/shoppicpath21418894311_y.jpg" height="100%" width="100%"/>-->
                <!--</div>-->
                <!--<p class="shop-name">绒域坊 天然棉麻布厚实方窝</p>-->
                <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
                <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
                <!--<a class="buy_btn " href=""><span>加入购物车 <span class="ico"> > </span></span></a>-->
            <!--</li>-->
        </ul>
    </div>

    <div class="do-food">
        <div class="do-html-content">
            <p class="do-content-title"><span>玩具上新</span></p>
            <p class="do-content-text"><span>用心呵护和爱护您的宠物，让您安心舒心放心</span></p>
            <p class="do-content-btn"><a href=""><span class="more">查看更多</span> <i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
        <ul class="do-element-media-ul commodity_ul3">
            <!--<li>-->
            <!--<div>-->
            <!--<img src="http://localhost:1234/images/shoppicpath11499409600_y.jpg" height="100%" width="100%"/>-->
            <!--</div>-->
            <!--<p class="shop-name">哈特丽Hateli 彩钢碗</p>-->
            <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
            <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
            <!--<a class="buy_btn " href=""><span>加入购物车<span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div>-->
            <!--<img src="http://localhost:1234/images/shoppicpath31429774176_y.jpg" height="100%" width="100%"/>-->
            <!--</div>-->
            <!--<p class="shop-name">爱丽思IRIS 豪华房型狗窝笼子</p>-->
            <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
            <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
            <!--<a class="buy_btn " href=""><span>加入购物车<span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div>-->
            <!--<img src="http://localhost:1234/images/shoppicpath31415611069_y.jpg" height="100%" width="100%"/>-->
            <!--</div>-->
            <!--<p class="shop-name">道汀DaoDin 小动物专用饮水器</p>-->
            <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
            <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
            <!--<a class="buy_btn " href=""><span>加入购物车 <span class="ico"> > </span></span></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div>-->
            <!--<img src="http://localhost:1234/images/shoppicpath21418894311_y.jpg" height="100%" width="100%"/>-->
            <!--</div>-->
            <!--<p class="shop-name">绒域坊 天然棉麻布厚实方窝</p>-->
            <!--<p class="shop-hot"><span class="shop-hot">NEW</span></p>-->
            <!--<p class="shop-price"><i class="fa fa-cny"></i>200</p>-->
            <!--<a class="buy_btn " href=""><span>加入购物车 <span class="ico"> > </span></span></a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="do-section">
        <div class="do-block">
            <div class="do-panelcol-right">
                <img src="http://localhost:1234/images/dog4.png" alt="" width="100%" height="100%">
            </div>
            <div class="do-panelcol-left">
                <div class="do-panelcol-content">
                    <h1 class="h1">我们的服务是独一无二的</h1>
                    <p class="p1">顶级的美容用品和精湛的修剪技法和染色激发增添美感，从而达到让狗狗和主人身心愉悦的效果，顶级的美容用品和精湛的修剪技法和染色激发增添美感，从而达到让狗狗和主人身心愉悦的效果</p>
                </div>
            </div>

        </div>
    </div>

    <div class="do-pictrue ">
        <div class="do-html-content">
            <p class="do-content-title"><span>宠物摄影</span></p>
            <p class="do-content-text"><span>用心呵护和爱护您的宠物，让您安心舒心放心</span></p>
            <p class="do-content-btn"><a href=""><span class="more">查看更多</span> <i class="fa fa-arrow-circle-right"></i></a></p>

        </div>
        <ul class="do-pic-list">
        <li class="list">
            <div class="listpic">
                <a href=""><img src="http://localhost:1234/images/dog/01.jpg" alt=""></a>
            </div>
            <div class="text">
                <p>巴哥犬（pug），原产于中国，富有魅力而且高雅，14世纪末正式命名为“巴哥”其词意古语为“锤头”、“小丑”，狮子鼻或小猴子的意思。巴哥犬容易有睫毛倒插的毛病，头部皱折多，也容易泪管阻塞，而有两条明显的泪痕。巴哥犬是体贴，可爱的小型犬种，不需要运动或经常整理背毛，但需要同伴。</p>
            </div>
        </li>
        <li class="list">
            <div class="listpic">
                <a href=""><img src="http://localhost:1234/images/dog/02.jpg" alt=""></a>
            </div>
            <div class="text">
                <p>巴哥犬（pug），原产于中国，富有魅力而且高雅，14世纪末正式命名为“巴哥”其词意古语为“锤头”、“小丑”，狮子鼻或小猴子的意思。巴哥犬容易有睫毛倒插的毛病，头部皱折多，也容易泪管阻塞，而有两条明显的泪痕。巴哥犬是体贴，可爱的小型犬种，不需要运动或经常整理背毛，但需要同伴。</p>
            </div>
        </li>
        <li class="list">
            <div class="listpic">
                <a href=""><img src="http://localhost:1234/images/dog/03.jpg" alt=""></a>
            </div>
            <div class="text">
                <p>巴哥犬（pug），原产于中国，富有魅力而且高雅，14世纪末正式命名为“巴哥”其词意古语为“锤头”、“小丑”，狮子鼻或小猴子的意思。巴哥犬容易有睫毛倒插的毛病，头部皱折多，也容易泪管阻塞，而有两条明显的泪痕。巴哥犬是体贴，可爱的小型犬种，不需要运动或经常整理背毛，但需要同伴。</p>
            </div>
        </li>
        <li class="list">
            <div class="listpic">
                <a href=""><img src="http://localhost:1234/images/dog/04.jpg" alt=""></a>
            </div>
            <div class="text">
                <p>巴哥犬（pug），原产于中国，富有魅力而且高雅，14世纪末正式命名为“巴哥”其词意古语为“锤头”、“小丑”，狮子鼻或小猴子的意思。巴哥犬容易有睫毛倒插的毛病，头部皱折多，也容易泪管阻塞，而有两条明显的泪痕。巴哥犬是体贴，可爱的小型犬种，不需要运动或经常整理背毛，但需要同伴。</p>
            </div>
        </li>
    </ul>
        <ul class="do-pic-list">
            <li class="list">
                <div class="listpic">
                    <a href=""><img src="http://localhost:1234/images/dog/08.jpg" alt=""></a>
                </div>
                <div class="text">
                    <p>巴哥犬（pug），原产于中国，富有魅力而且高雅，14世纪末正式命名为“巴哥”其词意古语为“锤头”、“小丑”，狮子鼻或小猴子的意思。巴哥犬容易有睫毛倒插的毛病，头部皱折多，也容易泪管阻塞，而有两条明显的泪痕。巴哥犬是体贴，可爱的小型犬种，不需要运动或经常整理背毛，但需要同伴。</p>
                </div>
            </li>
            <li class="list">
                <div class="listpic">
                    <a href=""><img src="http://localhost:1234/images/dog/07.jpg" alt=""></a>
                </div>
                <div class="text">
                    <p>巴哥犬（pug），原产于中国，富有魅力而且高雅，14世纪末正式命名为“巴哥”其词意古语为“锤头”、“小丑”，狮子鼻或小猴子的意思。巴哥犬容易有睫毛倒插的毛病，头部皱折多，也容易泪管阻塞，而有两条明显的泪痕。巴哥犬是体贴，可爱的小型犬种，不需要运动或经常整理背毛，但需要同伴。</p>
                </div>
            </li>
            <li class="list">
                <div class="listpic">
                    <a href=""><img src="http://localhost:1234/images/dog/06.jpg" alt=""></a>
                </div>
                <div class="text">
                    <p>巴哥犬（pug），原产于中国，富有魅力而且高雅，14世纪末正式命名为“巴哥”其词意古语为“锤头”、“小丑”，狮子鼻或小猴子的意思。巴哥犬容易有睫毛倒插的毛病，头部皱折多，也容易泪管阻塞，而有两条明显的泪痕。巴哥犬是体贴，可爱的小型犬种，不需要运动或经常整理背毛，但需要同伴。</p>
                </div>
            </li>
            <li class="list">
                <div class="listpic">
                    <a href=""><img src="http://localhost:1234/images/dog/05.jpg" alt=""></a>
                </div>
                <div class="text">
                    <p>巴哥犬（pug），原产于中国，富有魅力而且高雅，14世纪末正式命名为“巴哥”其词意古语为“锤头”、“小丑”，狮子鼻或小猴子的意思。巴哥犬容易有睫毛倒插的毛病，头部皱折多，也容易泪管阻塞，而有两条明显的泪痕。巴哥犬是体贴，可爱的小型犬种，不需要运动或经常整理背毛，但需要同伴。</p>
                </div>
            </li>
        </ul>
    </div>

    <!--侧边栏-->
    <div class="sidebar">
        <ul class="bar-top">
            <li>
                <a href="">
                    <img class="original-img" src="images/phone.png" alt="">
                    <img class="hover-img" src="images/phone2.png" alt="">
                </a>

            </li>
            <li>
                <a href="">
                    <img class="original-img" src="images/people.png" alt="">
                    <img class="hover-img" src="images/people2.png" alt="">
                </a>
            </li>
            <li>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=1667037495&site=qq&menu=yes">
                    <img class="original-img" src="images/lianxi.png" alt="" title="点击我发送消息">
                    <img class="hover-img" src="images/lianxi2.png" alt="" title="点击我发送消息">

                </a>
            </li>
            <li>
                <a href="">
                    <img class="original-img" src="images/car.png" alt="">
                    <img class="hover-img" src="images/car2.png" alt="">

                </a>
            </li>
        </ul>
        <div class="to-top">
            <ul class="bar-top">
                <li>
                    <a href="" id="back-top">
                        <img class="original-img" src="images/totop.png" alt="">
                        <img class="hover-img"  src="images/totop_hover.png" alt="">

                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="bacrdbox">
        <div class="do-html-content">
            <p class="do-content-title"><span>门店服务</span></p>
            <p class="do-content-text"><span>用心呵护和爱护您的宠物，让您安心舒心放心</span></p>
            <p class="do-content-btn"><a href=""><span class="more">查看更多</span> <i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
        <ul class="bacrdArea">
            <li class="card-item card-first">
                <a href="http://localhost:1234/pages/serviceHair.html" class="content-box">
                    <div class="content-img">
                        <img src="http://localhost:1234/images/dog/Pet-Beauty.png" alt="">
                    </div>
                    <div class="content-text content-first">
                        <p class="cosmetology"><span>宠物美容</span></p>
                        <p class="cosmetology-e"><span>Pet Beauty</span></p>
                        <!--<p class="advert"><span>让他变得更加美丽</span></p>-->
                    </div>
                </a>
            </li>

            <li class="card-item">
                <a href="http://localhost:1234/pages/serviceCare.html" class="content-box">
                    <div class="content-img">
                        <img src="http://localhost:1234/images/dog/Pet-foster-care.png" alt="">
                    </div>
                    <div class="content-text">
                        <p class="cosmetology"><span>宠物寄养</span></p>
                        <p class="cosmetology-e"><span>Pet foster care</span></p>
                        <!--<p class="advert"><span>让他变得更加美丽</span></p>-->
                    </div>
                </a>
            </li>

            <li class="card-item">
                <a href="http://localhost:1234/pages/serviceBath.html" class="content-box">
                    <div class="content-img">
                        <img src="http://localhost:1234/images/dog/Pet-bathing.png" alt="">
                    </div>
                    <div class="content-text">
                        <p class="cosmetology"><span>宠物洗澡</span></p>
                        <p class="cosmetology-e"><span>Pet bathing</span></p>
                        <!--<p class="advert"><span>让他变得更加美丽</span></p>-->
                    </div>
                </a>
            </li>

            <li class="card-item">
                <a href="http://localhost:1234/pages/serviceAll.html" class="content-box">
                    <div class="content-img">
                        <img src="http://localhost:1234/images/dog/Pet-Photography.png" alt="">
                    </div>
                    <div class="content-text">
                        <p class="cosmetology"><span>宠物摄影</span></p>
                        <p class="cosmetology-e"><span>Pet Photography</span></p>
                        <!--<p class="advert"><span>让他变得更加美丽</span></p>-->
                    </div>
                </a>
            </li>

            <li class="card-item">
                <a href="http://localhost:1234/pages/serviceAll.html" class="content-box">
                    <div class="content-img">
                        <img src="http://localhost:1234/images/dog/Pet-consultation.png" alt="">
                    </div>
                    <div class="content-text">
                        <p class="cosmetology"><span>宠物咨询</span></p>
                        <p class="cosmetology-e"><span>Pet consultation</span></p>
                        <!--<p class="advert"><span>让他变得更加美丽</span></p>-->
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>


<!--尾部-->
<%-include footer.html%>
</body>
</html>
<script src="http://localhost:1234/dist/jquery-2.2.4.js"></script>
<script src="http://localhost:1234/js/index.js"></script>


