<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/ProductDetails.css">
    <link rel="stylesheet" href="../css/ChatWindow.css">
    <link rel="stylesheet" href="../font/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../dist/jquery-2.2.4.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="commodity-preview clearfix">
            <div class="preview-img">

                <div class="img-box">
                        <div class="img-box-small"></div>
                    <img src="<%=data[0].pic1%>">
                </div>
                <div class="img-box-big"><img src="<%=data[0].pic1%>" alt=""></div>
                <div class="preview-img-list clearfix">
                    <div><img src="<%=data[0].pic1%>"></div>
                    <div><img src="<%=data[0].pic2%>"></div>
                    <div><img src="<%=data[0].pic3%>"></div>
                    <div><img src="<%=data[0].pic4%>"></div>
                </div>
                <div class="collect">
                    <span class="number">编号<%=data[0].goods_id%></span>
                    <span class="share"><i class="fa fa-share-alt" aria-hidden="true"></i>分享商品</span>
                    <span class="collect-text"><i class="fa fa-star" aria-hidden="true"></i>收藏商品</span>
                </div>
            </div>
            <div class="preview-text">
                <div class="commodity-title">
                    <h3><%=data[0].goods_name%></h3>
                </div>
                <div class="price-box">
                    <p class="order">原价:¥<%=data[0].pre_price%></p>
                    <sapn class="promotion">促销价: <span> ¥<%=data[0].now_price%></span></sapn>
                    <span class="sales">已售<%=data[0].goods_inv%>个</span>
                </div>
                <div class="ensure">
                    <div class="center">
                        <span><i class="fa fa-check-circle" aria-hidden="true"></i>正品保证</span>
                        <span><i class="fa fa-check-circle" aria-hidden="true"></i>99元包邮</span>
                        <span><i class="fa fa-check-circle" aria-hidden="true"></i>30天退换</span>
                    </div>
                </div>
                <div class="spec">
                    <div class="type1 clearfix">
                        <p class="type1-name"><%=data[0].goods_spe1%>:</p>
                        <div class="type1-list">
                            <div>小</div>
                            <div>中</div>
                            <div>大</div>
                            
                        </div>
                    </div>
                    <div class="type2">
                        <p class="type2-name"><%=data[0].goods_spe2%>:</p>
                        <div class="type2-list">
                            <div><%=data[0].spe2_val%></div>
                        </div>
                    </div>
                    <div class="number">
                        <p class="number-name">数量:</p>
                        <div class="number-select">
                            <div class="select-box">
                                <i class="fa fa-plus-square" aria-hidden="true"></i><input type="text" name="" id="com-number"
                                    value="1"><i class="fa fa-minus-square" aria-hidden="true"></i>
                            </div>
                            <span class="repertory">库存:<%=data[0].goods_sal%></span>
                        </div>
                    </div>
                </div>
                <div class="service">
                    <span>今日下单 五点前发货</span>
                    <span class="contact-ser"><i class="fa fa-comments-o" aria-hidden="true"></i>联系客服</span>
                </div>
                <div class="orders">
                    <div class="orders-btn clearfix">
                        <div class="btn-buy"><span>立即购买</span></div>
                        <div class="btn-shopping"><span>加入购物车</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="commodity-details clearfix">
            <div class="recommend">
                <div class="recommend-title"><span>推荐商品</span></div>
                <div class="recommend-list">
                    <div class="list clearfix">
                        <div class="img"><img src="../images/commodity/狗窝1/1.jpg"></div>
                        <div class="img-title">
                            <span>绒域坊 天然棉麻布厚实方窝 黄色 M 61.5*49*22cm</span>
                            <p>¥28</p>
                        </div>
                    </div>

                    <div class="list clearfix">
                        <div class="img"><img src="../images/commodity/狗窝1/1.jpg"></div>
                        <div class="img-title">
                            <span>绒域坊 天然棉麻布厚实方窝 黄色 M 61.5*49*22cm</span>
                            <p>¥28</p>
                        </div>
                    </div>

                    <div class="list clearfix">
                        <div class="img"><img src="../images/commodity/狗窝1/1.jpg"></div>
                        <div class="img-title">
                            <span>绒域坊 天然棉麻布厚实方窝 黄色 M 61.5*49*22cm</span>
                            <p>¥28</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <div class="details-title">
                    <ul>
                        <li class="details-btn defult-color">商品详情</li>
                        <li class="eva-btn">累计评价</li>
                    </ul>
                </div>
                <div class="details-con">
                    <div class="details-img">
                            <%=data1%>
                            <%for(var i = 0;i < data1.length;i ++){%>
                                <div><img src="<%=data1[i]%>" alt=""></div>
                            <%}%>
                    </div>
                    <div class="price-des">
                        <h4>价格说明:</h4>
                        <p>Pupy价：Pupy价为商品的销售价，是您最终决定是否购买商品的依据。</p>
                        <p>划线价：商品展示的划横线价格为参考价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在Pupy商城上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。</p>
                        <p>折扣：折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议零售价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系客服进行咨询。</p>
                        <p>异常问题：商品促销信息以商品详情页“促销”栏中的信息为准；因可能存在系统缓存、页面更新延迟等不确定性情况，导致价格显示异常，商品具体售价请以订单结算页价格为准。如您发现异常情况出现，请立即联系我们补正，以便您能顺利购物。</p>
                    </div>
                </div>
                <div class="evalute">
                    <div class="gpa clearfix">
                        <div class="eva">
                            <span class="all-eva">全部评价(256)</span>
                            <span class="img-eva">有图评价(65)</span>
                        </div>
                        <div class="gpa-box clearfix">
                            <p class="text">综合评分</p>
                            <div>
                                <p>4.8分</p>
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-eva clearfix">
                    <div class="eva-list">
                        <div class="left">
                            <img src="./images/666.jpg" alt="">
                        </div>
                        <div class="right">
                            <p class="right-title"><span>王杰</span><span class="days">2天前发布</span></p>
                            <div class="eva-con clearfix">
                                <p class="con-text">挺好,我家狗子很喜欢</p>
                                <p class="eva-star">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </p>
                            </div>
                            <div class="eva-img">
                                <div class="img-list">
                                    <img src="./images/1.jpg" alt="">
                                </div>
                                <div class="img-list">
                                    <img src="./images/s-bath-mid.jpg" alt="">
                                </div>
                                <div class="img-list">
                                    <img src="./images/Orderimmedtimg2.jpg" alt="">
                                </div>
                            </div>
                            <div class="eva-bottom">
                                <span class="reply"><i class="fa fa-commenting-o" aria-hidden="true"></i>回复(2)</span>
                                <span class="favour"><i class="fa fa-thumbs-up" aria-hidden="true"></i>赞:21</span>
                                <span class="time">2018-12-10</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="user-eva clearfix">
                        <div class="eva-list">
                            <div class="left">
                                <img src="" alt="">
                            </div>
                            <div class="right">
                                <p class="right-title"><span>用户名称</span><span class="days">25天前发布</span></p>
                                <div class="eva-con clearfix">
                                    <p class="con-text">评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
                                    <p class="eva-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <div class="eva-img">
                                    <div class="img-list">
                                        <img src="" alt="">
                                    </div>
                                    <div class="img-list">
                                        <img src="" alt="">
                                    </div>
                                    <div class="img-list">
                                        <img src="" alt="">
                                    </div>
                                </div>
                                <div class="eva-bottom">
                                    <span class="reply"><i class="fa fa-commenting-o" aria-hidden="true"></i>回复(2)</span>
                                    <span class="favour"><i class="fa fa-thumbs-up" aria-hidden="true"></i>赞:21</span>
                                    <span class="time">2018-12-10</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="chat">
            <div class="service-name"><span>客服名称</span></div>
            <div class="chat-con">
                <div class="clearfix service-box">
                    <div class="head-portrait"><img src=""></div>
                    <div class="chat-box">
                        <p class="chat-text">您好,请问有什么可以帮到您?</p>
                    </div>
                </div>
    
                <!-- <div class="clearfix user-box">
                        <div class="head-portrait"><img src=""></div>
                        <div class="chat-box">
                            <p class="chat-text">聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</p>
                        </div>
                </div> -->
            </div>
            <div class="user-input clearfix">
                <textarea autofocus placeholder="请输入聊天信息" name="" id="user-val" style="width: 99%;height: 120px;resize: none;border:none;outline: none;"></textarea>
                <div class="btn-li clearfix">
                        <button class="close">关闭</button>
                        <input type="button" value="发送">
                </div>
            </div>
    </div>
</body>
<script src="../js/commodity.js"></script>

</html>